{{#each recipe.ingredientList as |ingredient|}}
            <h3>INGREDIENT</h3>
                {{#if ingredient.in_stock}}
                
                    <!-- If in_stock: true AND shopping_list: false, the view is  -->
                    {{>ingdt-recipe-in-pantry}}
                {{else}}
                    {{#if ingredient.in_list}}
                        <!-- If in_stock: false AND shopping_list: true, the view is  -->
                        {{>ingdt-recipe-in-list}}
                    {{else}}
                        <!-- If in_stock: false AND shopping_list: false, the view is  -->
                        {{>ingdt-recipe-card}}
                    {{/if}}
                {{/if}}
            {{/each}}