<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h4 class="modal-title" id="recipeModalLabel">{{recipe_name}}</h4>
                    <button type="button" class="close btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    {{{recipe-modal}}}
                </div>
            </div>
        </div>
    </div>