<div class="card m-4 border-info border-3 recipe_card">
        <div class="position-relative">
          <div class="gradient-overlay"></div>
          <h5 class="card-title position-absolute start-0 bottom-0 text-white p-3">{{recipe_name}}</h5>
          <img src="{{image_link}}" class="card-img-top" alt="{{recipe_name}}">
        </div>
        <div class="card-body">
          <h6 class="border-bottom pb-3">Ingredients</h6>
          <div class="overflow-auto inset-list">
            <ul class="list-group list-group-flush">
              {{#each ingredients as |ingredients|}}
                {{> ingredient-list}}
              {{/each}}
            </ul>
          </div>
          <div class="d-flex flex-wrap justify-content-center mt-3">
            <a href="/recipe/{{$id}}" class="btn btn-info w-100 m-2">View Details</a>
          </div>
        </div>
        <div class="card-footer bg-light-subtle d-flex flex-wrap justify-content-between align-items-center">
            <a href="#" class="btn-sm"></a>
            <p class="text-info m-0">Save to your favorites?</p>
            <i class="far fa-star text-info"></i>
          </a>
        </div>
      </div>