<div class="d-flex flex-wrap justify-content-center">
    <div class="card bg-white m-3 col-md-10 col-sm-12">
        <div class="row g-0">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                <div class="d-flex img-container-wide">
                    <div class="bg-image"
                        style="background-image: url('{{image_link}}');">
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                <div class="card-body">

                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h3 class="card-title text-dark">{{recipe_name}}</h3>
                        <button class="btn btn-sm btn-dark" type="submit">Return to Search</button>
                    </div>

                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

            </div>
        </div>
        <div class="ingredients-title">
            <h4 class="text-center">Ingredients</h4>
            <p class="subtitle text-center">Click <span class="text-primary">"Need It"</span> to add to your Shopping
                List or <span class="text-success">"Have It"</span> to indicate you have it on hand!</p>
        </div>
        {{#each ingredients as |ingredients|}}
            {{#if in_stock}}
                <!-- If in_stock: true AND shopping_list: false, the view is  -->
                {{>ingdt-recipe-in-pantry}}
            {{else}}
                {{#if shopping_list}}
                    <!-- If in_stock: false AND shopping_list: true, the view is  -->
                    {{>ingdt-recipe-in-list}}
                {{else}}
                    <!-- If in_stock: false AND shopping_list: false, the view is  -->
                    {{>ingdt-recipe-card}}
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>