<div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">    
              <div class="card bg-white shadow-lg">
                <div class="border border-3 border-primary"></div>
                <div class="card-body p-5">
                  <form class="mb-3 mt-md-4" id="signup-form">
                    <p class=" mb-5">Please enter your email and set a password to create your account.</p>
                    <div class="mb-3">
                        <label for="username-signup" class="form-label ">Username</label>
                        <input type="text" class="form-control" id="username-signup" placeholder="Name">
                      </div><div class="mb-3">
                      <label for="email-signup" class="form-label ">Email address</label>
                      <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                    </div>
                    <div class="mb-5">
                      <label for="password-signup" class="form-label ">Password</label>
                      <input type="password" class="form-control" id="password-signup" placeholder="*******">
                    </div>
                    
                    <div class="d-grid">
                      <button class="btn btn-outline-dark" type="submit">Create Account</button>
                    </div>
                  </form>
                  <div>
                    <p class="mb-0  text-center">Already have an account? <a href="/login"
                        class="text-primary fw-bold">Login</a></p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="/js/signup.js"></script>